@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1A0B2E;
}


.btn-primary {
    width: 135px;
    height: 44px;
    color: #ffffff;
    padding: 12px 16px;
    background: linear-gradient(to top right, #f7e93f, #fb09b4,
            #9100fb);
    border: none;
    border-radius: 12px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease;
}
.btn-primary:hover{
    opacity: 0.7;
    transform: scale(1.05s);

}

.common-type {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 24px;
    line-height: 20px;
}

.number {
    color: #00ff88;
    font-size: 48px;
    margin-bottom: 16px;
}

.card-heading {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff
}

.text-card{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

nav {
    display: flex;
    max-width: 1600px;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff25;
    padding-bottom: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

.nav .h-menu{
    margin-right: 5px;
    display: none;

}

#banner {
    max-width: 1600px;
    background-image: url(./Images/assets/hero-bg.png);
    background-position: center;
}

.banner-container {
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img-box {
    position: relative;
    margin-top: 110px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}
.img-box{
 overflow:hidden;
}

.img-box .img-2{
    position: absolute;
    left: 115px;
    top: 80px; 
    transition: transform 0.5s ease;
}
.img-box .img-2:hover{
    transform: scale(1.5);

}
.img-box .green-btn{
    padding: 8px 16px;
    color: solid black;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff88;
    border: none;
    border-radius: 8px;
    position: absolute;
    border-radius: 20;
    top: 20px;
    left: 270px;
    cursor: pointer;
}
.green-btn:hover{
    color: #ddeee6;
}


.banner-container h2 {
    color: #ffffff;
    font-size: 3.8rem;
    font-weight: bolder;
    margin-bottom: 24px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 100px;
    cursor: pointer;
}

.btn-1{
    width: 135px;
    height: 44px;
    color: #ffffff;
    padding: 12px 16px;
    background: linear-gradient(to top right, #f7e93f, #fb09b4,
            #9100fb);
    border: none;
    border-radius: 12px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease;
}
.btn-1:hover{
    transform: rotate(15deg) scale(1.5);
    transition: 2s;
}

.btn .subscribe-btn {
    color: #00ff88;
    display: flex;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #00ff88;
    cursor: pointer;

}
.btn .subscribe-btn:hover{
    background: #e41f9b;
    transform: scale(1.05);
}


#podcast,
#features,
#footer {
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
}

.podcast-container {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.section-heading{
    padding-top: 50px;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;

}

.ratio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

#choosing {
    max-width: 1600px;
    background-color: #230e3d;
}
 


.choosing-container{
    text-align: center;
    max-width: 1200px;
    width:75%;
    margin:0 auto;
}



.facilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    grid-template-areas:
        "card-1 card-2 card-2"
        "card-1 card-3 card-3"
        "card-4 card-4 card-5";
    padding-top: 40px;
    padding-bottom: 120px;
}

.card-1 {
    grid-area:card-1;}

.card-2 {
    grid-area:card-2;}

.card-3 {
    grid-area:card-3;}

.card-4 {
    grid-area:card-4;}

.card-5 {
    grid-area:card-5;}

.facilities .card-1,.card-2,.card-3,.card-4,.card-5 {
    background-color: #351165;
    color: #ffffff;
    text-align: start;
    display: grid;
    padding: 40px;
    border-radius: 40px;
    gap: 16;
}
.feature{
    opacity: 0;
    transform: translateY(40px);
    animation: alternate-reverse;
}
.features-container {
    padding-bottom: 120px;
    margin: 0 auto;
    text-align: center;
    
}
.features-container .episodes{
    text-align: center;
    
}

.videos{
    display: flex;
    text-align: start;
    padding-top: 40px;
    gap: 30px;
}


.video-card {
    display: grid;
    background-color: #250d44;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.video-text {
    padding: 24px;
}

.green {
    display: flex;
    color: #00ff88;
    font-size: 24px;
    font-weight: 600;
    gap: 6px;
    padding-bottom: 24px;
}

.alex {
    display: flex;
    background-color: #351165;
    text-align: start;
    gap: 24px;
    padding: 24px;
    border-radius: 40px;
}



.alex-text {
    display: grid;
    gap: 16px;
}

.alex-text h4 {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}

.social-links {
    display: inline-flex;
    gap: 8px;

}

.social-links .icon {
    padding: 8px;
    border: 1px solid #70045075;
    border-color: #533c72;
    border-radius: 50%;
}

.footer-container {
    background-image: url(./Images/assets/footer-bg.png);
    text-align: center;
    background-position: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.f-icon {
    display: flex;
    gap: 8px;
}

.footer-text {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.reserved {
    color: #ffffff
}

/* responsive code*/
@media screen and (max-width: 576px){
    body{
        margin: 0 auto;
    }
    nav{
        width: 100%;
        justify-content: space-between;
        padding: 20px;

    }
    .menu{
        display: none;
    }
    .btn-primary{
        display: none;
    }
    nav .h-menu{
        display: block;
    }
    #banner, #podcast, #choosing, #features, #footer{
        width: 100%;
    }
    .banner-container{
        width: 100%;
        margin: 0 auto;
    }
    .banner-container .choosing-container{
        width: 100%;
    }
    .podcast-container .about .section-heading{
        padding-top: 0;
    }
    .ratio{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .choosing-container .facilities{
        display: flex;
        flex-direction: column;
        width: 98%;
        align-items: center;
        justify-content: center;
    }
    .facilities .card-1,.card-2,.card-3,.card-4,.card-5 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
    .features-container{
        padding-bottom: 20px;
    }
    .features-container .episodes .videos{
        display: flex;
        flex-direction: column;
        width: 98%;
        align-content: center;
        text-align: center;}
        
    .features-container .episodes .videos .video-text .green{
    width: 100%;
    margin:auto;
    justify-content: center;
    
}
.features-container .video-card{
    width: 80%;
    margin: auto;
}
    .host .alex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-container{
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 40px;
    }
    .footer-container .footer-links{
        display: flex;
        flex-wrap: wrap; 
    }
}

@media screen and (min-width: 992px){ 
      nav .h-menu{
        display: none;
    }

}

