@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
 font-family:  "Inter", sans-serif;
}
/* navbar design */
body{
    background-color:  #1A0B2E ;
    color:#ffffff
}


nav{
display: flex;
max-width: 1600px;
justify-content: space-around;
align-items: center;
padding-top: 32px;
margin: 0 auto;
border-bottom: 1px solid #ffffff25;
padding-bottom: 16px;  
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
nav>span{
    margin-right: 5px;
    display: none;

}

/*common code*/
.btn-primary{
    width: 135px;
    height: 44px;
    color:#ffffff;
    padding: 12px 16px;
    background:linear-gradient( to top right, #f7e93f,#fb09b4,
        #9100fb);
    border: none;
    border-radius: 20px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center
}

.banner-container{
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.box-image{
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}
 .image-2{
    position: relative;
    right:200px;
    left: -69px;
    top:-150px; 
}


.banner-container>h2{
  color: #ffffff;
  font-size: 3.8rem;
  font-weight: bolder;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  text-align: center;
 }
 .banner-container>p{
 color: #ffffff;
 font-size: 1rem;
 margin-bottom: 24px;
 display: grid;
 place-items: center;
 text-align: center;
 }
 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 100px;
}
.btn .subscribe-button{
    color: #00ff88;
    display: flex;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #00ff88;
}

#podcast{
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
}
.podcast-container{
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.section-heading{
    padding-top: 50px;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    
}
.ratio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

#choosing{
    max-width: 1600px;
    background-color: #230e3d;
}
.choosing-container, .features-container{
   max-width: 1200px; 
   width: 75%;
   margin: 0 auto;
   text-align: center;
   
}
.facilities{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 0 auto;
    grid-template-areas: 
    "card-1 card-2 card-2"
     "card-1 card-3 card-3"
     "card-4 card-4 card-5";
     padding-top: 40px;
     padding-bottom: 120px;
}
.card-1{grid-area:card-1}
.card-2{grid-area:card-2}
.card-3{grid-area:card-3}
.card-4{grid-area:card-4}
.card-5{grid-area:card-5}

.facilities.card-1, .card-2, .crd-3, .card-4, .card-5{
    background-color: #351165;
    color: #ffffff;
    text-align:start;
    display: grid;
    padding: 40px;
    border-radius: 40px;
    gap: 16;
}

.features-container{
    padding-bottom: 120px;
}
.vedios{
    display: flex;
    text-align: start;
    padding-top: 40px;
    gap:30px;
}
.vedio-card{
    display: grid;
    background-color: #250d44;
    gap:24px
}
.vedio-text{
    padding: 24px;
}
.green{
    display: flex;
    color: #00ff88;
    font-size: 24px;
    font-weight: 600;
    gap:6px;
    padding-bottom: 24px;
}
.alex{
    display: flex;
    background-color: #351165;;
    text-align: start;
    gap:24px;
    border-radius: 40px;
}
.alex-text{
    display: grid;
    gap: 16px;
}
.alex-texth4{
    color:#ffffff;
    font-size: 32px;
    font-weight: bold;
}
.social-links{
    display: inline-flex;
    gap: 8px;

}
.social-links .icon{
    padding:8px;
    border: 1px solid #70045075;
    border-color: #533c72;
    border-radius: 50%;
}

.footer-container{
    background-image: url(../B-13-Assignment02-Techwave/Images/assets/footer-bg.png);
    text-align:center;
    background-position: center;
    width:75%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.footer-links{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.f-icon{
    display: flex;
    gap: 8px;
}
.footer-text{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.reserved{
    color: #ffffff
}













/* responsive code*/
@media screen and (max-width: 993px)
{
    .menu-container{
        display: none;
    }
    nav>span{
        margin-right: 5px ;
        display: inline;
    }
}
    


