@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
 font-family:  "Inter", sans-serif;
}
/* navbar design */
body{
    background-color:  #1A0B2E ;
    color:#ffffff
}


nav{
display: flex;
max-width: 1600px;
justify-content: space-around;
align-items: center;
padding-top: 32px;
margin: 0 auto;
border-bottom: 1px solid #ffffff25;
padding-bottom: 16px;  
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
nav>span{
    margin-right: 5px;
    display: none;

}

/*common code*/
.btn-primary{
    width: 135px;
    height: 44px;
    color:#ffffff;
    padding: 12px 16px;
    background:linear-gradient( to top right, #f7e93f,#fb09b4,
        #9100fb);
    border: none;
    border-radius: 20px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center
}

.box{
    position: relative;
    
}
.image-2{
    top: -700px;
   
}
 .image-3{
    top:-300px;
   

}




 .banner-container>h2{
  color: #ffffff;
  font-size: 3.8rem;
  font-weight: bolder;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  text-align: center;
 }
 .banner-container>p{
 color: #ffffff;
 font-size: 1rem;
 margin-bottom: 24px;
 display: grid;
 place-items: center;
 text-align: center;
 }
 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 100px;
}
.btn .subscribe-button{
    color: #00ff88;
    display: flex;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #00ff88;
}













/* responsive code*/
@media screen and (max-width: 993px)
{
    .menu-container{
        display: none;
    }
    nav>span{
        margin-right: 5px ;
        display: inline;
    }
}
    


